[theme=light] {
  --theme-background: var(--primary-white);

  --checkbox-ripple-color: var(--primary-bright-blue);
  --checkbox-border-color: var(--primary-bright-blue);
  --checkbox-bg-color:  var(--primary-bright-blue);
  --checkbox-border-line-width: 1px;
  --checkbox-check-color: var(--primary-white);
  --checkbox-text-color: #000;
  
  body {
    background: var(--theme-background);
  }
}